        h1{
            color: #295d5d;
        }

        .titulos 
        {color: #295d5d;
        background-color: red;
        text-align: center;
        font-weight: bold;
        margin-top: 30px;
        font-size: 1.5em;
        }

        #titulo {color: #0ae5e5;}

        
   